*.gz
*.lnk
*.mrpack
*.zip
/.example_assets
/.example_data
/.vscode
/config/axiom
/config/cubes_without_borders.json
/config/fabric
/config/jei/world
/config/lighty.config
/config/modernfix-mixins.properties
/config/oculus.properties
/config/worldedit
/cosmetics
/crash-reports
/data
/essential
/journeymap
/local
/logs
/modernfix
/mods/.connector
/screenshots
fabricloader.log
hs_err_pid*.log
knownkeys.txt
options.txt
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat_old
supportercache.json
usercache.json
usernamecache.json
win_event*.txt

# Packwiz ignores
/mods
/resourcepacks
/shaderpacks
packwiz.json
packwiz-installer.jar
packwiz-installer-bootstrap.jar

packwiz-scripts/tools/forge-*-installer.jar
packwiz-scripts/forge-*-installer.jar.log

/packwiz-scripts/**/*.nbt
/packwiz-scripts/**/*.snbt

/packwiz-builds

/packwiz-curseforge/config
/packwiz-curseforge/defaultconfigs
/packwiz-curseforge/kubejs
/packwiz-curseforge/saves

/packwiz-modrinth/config
/packwiz-modrinth/defaultconfigs
/packwiz-modrinth/kubejs
/packwiz-modrinth/saves

/packwiz-server/config
/packwiz-server/defaultconfigs
/packwiz-server/kubejs
/packwiz-server/libraries
/packwiz-server/mods
/packwiz-server/resourcepacks
/packwiz-server/shaderpacks

# Ignore all save folders
/saves/*
# Except don't ignore the default world
!/saves/Original world, will reset when pack updates/
# Except do ignore everything inside it
/saves/Original world, will reset when pack updates/**
# Except don't ignore these three files
!/saves/Original world, will reset when pack updates/icon.png
!/saves/Original world, will reset when pack updates/level.dat
!/saves/Original world, will reset when pack updates/level.dat.backup
# And do ignore the region folder
!/saves/Original world, will reset when pack updates/region/
# But don't ignore the first 4 region files around 0,0
!/saves/Original world, will reset when pack updates/region/r.0.0.mca
!/saves/Original world, will reset when pack updates/region/r.0.-1.mca
!/saves/Original world, will reset when pack updates/region/r.-1.0.mca
!/saves/Original world, will reset when pack updates/region/r.-1.-1.mca

# Tips
/packwiz-scripts/tip_generation/tips
packwiz-scripts/tip_generation/en_us.json
